%h2 Announcement
%p Publish an announcement on identi.ca.

- if error(:identica)
  %p.error.quote #{error(:identica)}

%form{:method => "post", :action => "/announcements/identica"}
  %fieldset
    %p
      %label{:for => "message"} Text:
      %textarea{:name => "message", :rows => 5, :wrap => "off", :value => params[:text]}
    - if error(:text)
      %p.error.quote #{error(:text)}
    %p.quote
      %input{:class => "button", :type => "submit", :value => "Publish"}
