<%= header :title => "Announcements" %>
<h2>Publish an announcement on identi.ca</h2>
<% if error(:identica) %>
  <p class="error"><%= error(:identica) %></p>
<% end %>
<form method="post" action="/announcements/identica">
  <fieldset>
    <p><label for="text">Text:</label> <textarea rows="3" cols="50" name="text"></textarea></p>
    <% if error(:text) %>
      <p class="error"><span class="placeholder">&nbsp;</span> <%= error(:text) %></p>
    <% end %>
    <p><span class="placeholder">&nbsp;</span> <input type="submit" value="Publish"/></p>
  </fieldset>
</form>
<%= footer %>
