<%= header :title => 'Login' %>
<form method="post" action="/login">
  <fieldset>
    <p><label for="username">Username:</label> <input type="text" id="username" name="username"/></p>
    <p><label for="password">Password:</label> <input type="password" id="password" name="password"/></p>
    <p><span class="placeholder">&nbsp;</span> <input type="submit" value="Log in"/></p>
  </fieldset>
</form>
<%= footer %>
