%h2 Delete #{@collection.display_name} #{params[:release]}
%p Do you really want to delete this release?
%form
  %p
    %input{:class => "button", :type => "button", onclick => "history.back()", :value => "No, I came here by mistake!"}
    %input{:class => "button", :type => "submit", :value => "Yes, please delete!""}
