<%= header :title => "Delete #{@collection.display_name} #{params[:release]}" %>
<h2>Do you really want to delete this release?</h2>
<form method="post">
  <fieldset>
    <p>
    <input type="button" onclick="history.back()" value="No, I came here by mistake!"/>
    <input type="submit" value="Yes, please delete!"/>
    </p>
</form>
<%= footer %>
