<%= header %>
<h2>What would you like to do?</h2>
<ul>
  <li><a href="/feed">View the release news feed</a></li>
  <li><a href="http://identi.ca/xfce">Visit the identi.ca release news channel</a></li>
  <% if authentication_finished? %>
    <li><a href="/">Manage releases of your projects</a></li>
  <% else %>
    <li><a href="/login">Manage releases of your projects</a></li>
  <% end %>
</ul>
<%= footer %>
