!!! Strict
%html
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}/
    %title Xfce Release Manager
    %link{:rel => "stylesheet", :href => "/stylesheet.css", :media => "all", :type => "text/css"}/
  %body{:class => ENV['RACK_ENV'] || "development" }
    %h1 Xfce Release Manager
    %div{:id => 'main-toolbar'}
      %ul{:id => 'main-toolbar'}
        %li
          %a{:href => "/"} Home
        - if authentication_finished? and authentication_user
          %li
            %a{:href => "/maintainer/#{authentication_user.username}"} Profile
          %li
            %a{:href => "/maintainer"} Maintainers
          %li
            %a{:href => "/project"} Projects
          %li
            %a{:href => "/logout"} Logout
        - else
          %li
            %a{:href => "/login/request"} Request Account
        %li
          %a{:href => "https://archive.xfce.org"} Archive
        %li
          %a{:href => "https://bugzilla.xfce.org"} Bugzilla
      %div{:class => "clearboth"}
    =yield
