%h2 Introduction
%p
  The following form allows you to submit your user info to request an
  Xfce developers account. This account needs to be approved by one of
  the Xfce developers, so it is wise to introduce yourself on the
  %a{:href => "http://www.xfce.org/community"} Xfce4-dev
  mailing list first, else the request will be rejected. Translators
  don't need a developer account, they can sign up at the
  %a{:href => "https://translations.xfce.org/"} translation
  page and request to join a translation team after registration.

%h2 Account Information
%form{:method => "post"}
  - if env[:error][:message]
    %p.error.quote #{env[:error][:message]}
  %p
    %label{:for => "username"} Username:
    %input{:type => "text", :name => "username", :value => params[:username]}
  %p
    %label{:for => "realname"} Real Name:
    %input{:type => "text", :name => "realname", :value => params[:realname]}
  %p
    %label{:for => "email"} Email Address:
    %input{:type => "text", :name => "email", :value => params[:email]}
  %hr
  - if env[:error][:newpassword]
    %p.error.quote #{env[:error][:newpassword]}
  %p
    %label{:for => "password"} Password:
    %input{:type => "password", :name => "password"}
  %p
    %label{:for => "password2"} Confirm password:
    %input{:type => "password", :name => "password2"}
  %hr
  %p.quote
    The public key is required to push git commits over ssh. Make sure you provide the publickey and
    not the fingerprint... Read more about how to generate and use SSH keys
    %a{:href => "/login/request/sshinfo"} here.
  %p
    %label{:for => "pubkeys"} SSH public-keys:
    %textarea{:name => "pubkeys", :rows => "5", :wrap => "off"} #{params[:pubkeys]}
  %p
    %input{:type => "submit", :value => "Submit"}
