%h2 Introduction
%p
  The following form is ONLY needed to create a release account.
  You don't have to use it unless you are explicitly asked to do
  it by other developers.
  If you want to contribute to Xfce, please use our
  %a{:href => "https://gitlab.xfce.org"} Gitlab
  instance.

%h2 Account Information
%fieldset
  %form{:method => "post"}
    - if env[:error][:message]
      %p.error.quote #{env[:error][:message]}
    %p
      %label{:for => "username"} Username:
      %input{:type => "text", :name => "username", :id => "username", :value => params[:username]}
    %p
      %label{:for => "realname"} Real Name:
      %input{:type => "text", :name => "realname", :id => "realname", :value => params[:realname]}
    %p
      %label{:for => "email"} Email Address:
      %input{:type => "text", :name => "email", :id => "email", :value => params[:email]}
    %hr
    - if env[:error][:newpassword]
      %p.error.quote #{env[:error][:newpassword]}
    %p
      %label{:for => "password"} Password:
      %input{:type => "password", :id => "password", :name => "password"}
    %p
      %label{:for => "password2"} Confirm password:
      %input{:type => "password", :id => "password2", :name => "password2"}
    %hr
    %p.quote
      The public key is an obsolete and an unneeded field but kept for compatibility with our release manager instance.
    %p
      %label{:for => "pubkeys"} SSH public-keys:
      %textarea{:name => "pubkeys", :rows => "5", :id => "pubkeys", :wrap => "off"} #{params[:pubkeys]}
    %hr
    %p.quote
      Some additional information to help us remind you. Which project do you want to work on
      or start a new project you've already discussed on the xfce4-dev mailing list.
    %p
      %label{:for => "msg"} Additional Info:
      %textarea{:name => "msg", :rows => "5", :id => "msg"} #{params[:msg]}
    %p
      %input{:class => "button", :type => "submit", :value => "Submit"}
  
