<%= header :title => "Delete #{@project.name} #{@release.version}" %>
<h2>Are you sure you want to delete this version?</h2>
<form method="post">
  <fieldset>
    <p>
      <input type="button" value="No, please take me back" onclick="history.back()"/> 
      <input type="submit" value="Yes, who cares about <%= @project.name %> <%= @release.version %> anyway?"/>
    </p>
  </fieldset>
</form>
<%= footer %>
