%h2 Release information
%p
  Before releasing, please make sure the project information below is
  up to date. Also make sure you are subscribed to the mailing lists with
  <strong>#{authentication_user.email}</strong> else the announcement will
  not be posted!

%h3 Project information
%fieldset
  %form
    %p
      %label{:for => "website"} Website:
      #{@project.website}
    %p
      %label{:for => "longdesc"} Description:
      %textarea{:name => "longdesc", :readonly => true} #{@project.longdesc}

  %form{:method => "get", :action => "/project/#{@project.name}/new-release/tarball"}
    %p.quote
      %input{:class => "button", :type => "submit", :value => "I verified the information is correct"}
