<%= header :title => "Request Developer Account" %>
<h2>Done</h2>
<p>Thank you for submitting your account information. We will process the
   account as soon as possible and you will receive and email once the
   account has been activated.</p>

<p><a href="/">Take me back</a></p>

<%= footer %>
