<% @title = "Delete Release #{params[:release]} of Collection #{@collection.display_name}" %>
<h2>Do You Really Want to Delete This Release?</h2>
<form method="post">
  <p><a class="button" href="javascript:history.back()">No, I came here by mistake!</a> <input type="submit" value="Yes, please delete!"/></p>
</form>
