<%= header :title => "Delete Release #{params[:release]} of Collection #{@collection.display_name}" %>
<h2>Do you really want to delete this release?</h2>
<form method="post">
  <fieldset>
    <p>
    <input type="button" onclick="history.back()" value="No, I came here by mistake!"/>
    <input type="submit" value="Yes, please delete!"/>
    </p>
</form>
<%= footer %>
