<%= header :title => "New Release of #{@project.name}: Create Branch" %>
<form method="post" enctype="multipart/form-data">
  <fieldset>
    <p><label for="branch">Branch name:</label> <input type="text" id="branch" name="branch"/></p>
    <p><span class="placeholder">&nbsp;</span> <input type="submit" value="Create Branch and Continue"/></p>
  </fieldset>
</form>
<%= footer %>
